.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 120px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    filter: url(#threshold) blur(0.6px);
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  svg {
    position: absolute;
    width: 0;
    height: 0;
  }